.post-content {
    border-bottom: 1px #c0c0c0 solid;
    border-radius: 4px 4px 0 0;
    padding-bottom: 5px;
}

@media screen and (max-width: 768px) {
    .sidebar {
        margin: 0 1.5em;
    }

    .media-bottom {
        float: none;
        margin: 0 1em;
    }
}

@media screen and (min-width: 769px) {
    .media-bottom {
        height: 0;
        padding-bottom: 100%
    }

    .sidebar {
        float: right;
        width: 200px;
        padding: 5px 20px;
        margin: 0 0 17px 0;
    }
}

img {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

.sidebar img {
    width: 2em;
    height: 2em;
    overflow: hidden;
    margin: 0 0.2em;
}