{% extends "base.html" %}
{% comment %}
1.所有文章。按发表时间降序
{% endcomment %}
{% block content %}

    {% comment %}循环时间{% endcomment %}
    {% for year in years %}
        <ul class="list-unstyled">
            <h2>{{ year }}</h2>
            {% comment %}循环文章列表{% endcomment %}
            {% for post in posts %}
                {% comment %}如果年份与上次循环相等，则显示出来{% endcomment %}
                {% ifequal post.post_time.year year %}
                    <li>
                        {{ post.post_time|date:"Y-m-d" }}
                        <a href="{% url "articleDetail" id=post.id year=post.post_time|date:"Y" month=post.post_time|date:"m" %}">{{ post.title }}</a>
                    </li>
                {% endifequal %}
            {% endfor %}
        </ul>
    {% empty %}
        <p>暂无文章</p>
    {% endfor %}
{% endblock %}