<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>base</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    <!--[if gt IE 8]-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
</head>
<body>
<p>今天是：{% now "Y年m月d日" %}</p>
    <div id="layout">
        <div id="top">
            <!-- 填写HTML
             articles提供下拉选项分类，根据选择类型不同显示不同文章，点默认的则显示所有文章
             -->
        </div>

        <div id="title">
            <!-- 填写HTML -->
        </div>

        <div id="contents">
        <!-- 正文-->
            {% block content %}
            {% endblock %}
        </div>

        <div id="footer">
            <!-- 填写HTML include -->
        </div>
    </div>
</body>
</html>
