<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta charset="utf-8">
    <title>AmazingCode</title>
</head>
<body>

<div class="container">
    <div id="layout">
        <div id="top">
            <!-- 填写HTML
             articles提供下拉选项分类，根据选择类型不同显示不同文章，点默认的则显示所有文章
             -->
        </div>

        <div id="nav_bar" class="row clearfix">
            {% include 'nav_bar.html' %}
        </div>


        <div id="content" class="row clearfix">
            <!-- 正文-->
            {% block content %}
            {% endblock %}
        </div>

        <div id="footer" class="row clearfix">
            <!-- 填写HTML include -->

        </div>
    </div>
</div>
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
