{% extends "base.html" %}
{% load custom_markdown %}
{% comment %}该页显示
1.博文的详细内容
{% endcomment %}
{% block content %}
    <div class="col-md-12 column">
        <div class="page-header">
            <h2>
                {{ article.title }}
            </h2>
            <h5>
                <small>{{ article.post_time|date:'Y年m月d日' }}</small>
                <a class="btn" href="{% url "archive" fil=article.category%}">{{ article.category }}</a>
            </h5>
        </div>

        <p>{{ article.content|custom_markdown}}</p>
    </div>
{% endblock %}